# Segmenting and Clustering Neighborhoods in Toronto

In this assignment, you were required to explore, segment, and cluster the neighborhoods in the city of Toronto. However, unlike New York, the neighborhood data is not readily available on the internet. What is interesting about the field of data science is that each project can be challenging in its unique way, so you need to learn to be agile and refine the skill to learn new libraries and tools quickly depending on the project.

For the Toronto neighborhood data, a Wikipedia page exists that has all the information we need to explore and cluster the neighborhoods in Toronto. We were required to scrape the Wikipedia page and wrangle the data, clean it, and then read it into a pandas dataframe so that it is in a structured format like the New York dataset.

Once the data is in a structured format, we replicated the analysis that we did to the New York City dataset to explore and cluster the neighborhoods in the city of Toronto.

## Step 1: Scrape data and cleaning

First we import dependencies that we will need

In [1]:
import pandas as pd
import numpy as np
import requests 
from bs4 import BeautifulSoup

Then we define the url tha containg the Toronto data to be scrapped

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

Using BeautifulSoup we read the data and put it into a pandas dataframe

In [3]:
r = requests.get(url) 
soup = BeautifulSoup(r.content, 'html5lib') 
table = soup.find('table')
df = pd.read_html(str(table))[0]

Let's see the data

In [4]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

Only cells that have an assigned borough are valid so let's do the cleaning

In [5]:
df = df[df['Borough'] != 'Not assigned']

Let's verify the shape of our dataframe

In [6]:
df.shape

(103, 3)

## Step 2: Adding Latitude	Longitude

Now that we have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

Since Google is charging for their Google Maps Geocoding API, we decided to use the Geocoder Python package instead: https://geocoder.readthedocs.io/index.html.

But unfortunately the package was not able to identify all the data. So we used a .csv file that contain the latitudes and longitudes that we need

In [7]:
df_lat_long = pd.read_csv('Geospatial_Coordinates.csv')

In [8]:
df_lat_long

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

Now, let's merge the latitudes and longitudes to our original dataframe

In [9]:
df = df.merge(df_lat_long, on='Postal Code', how='left')

In [10]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494